.loader-wrapper {
  position: relative;
  width: 5vw;
  height: 5vw;
  background: transparent;
  transition: background 0.35s;
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
}

.loader-heading {
  color: var(--block-color);
}

.loader {
  width: 60px;
  height: 60px;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.loader span:before,
.loader span:after {
  position: absolute;
  width: 4px;
  height: 100%;
  background: var(--item-hover);
  content: '';
}
.loader span:before {
  top: auto;
  right: 0;
  bottom: 0;
  -webkit-animation: drawframeRight 4s linear infinite 0.5s;
  animation: drawframeRight 4s linear infinite 0.5s;
}
.loader span:after {
  top: 0;
  bottom: auto;
  left: 0;
  -webkit-animation: drawframeLeft 4s linear infinite 1.5s;
  animation: drawframeLeft 4s linear infinite 1.5s;
}
.loader:before,
.loader:after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--block-color);
  content: '';
}
.loader:before {
  top: 0;
  right: 0;
  left: auto;
  -webkit-animation: drawframeTop 4s linear infinite;
  animation: drawframeTop 4s linear infinite;
}
.loader:after {
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-animation: drawframeBottom 4s linear infinite 1s;
  animation: drawframeBottom 4s linear infinite 1s;
}

@-webkit-keyframes drawframeTop {
  0% {
    right: 0;
    left: auto;
    width: 100%;
  }
  12.5% {
    right: 0;
    left: auto;
    width: 0%;
  }
  50% {
    right: auto;
    left: 0;
    width: 0%;
  }
  62.5% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: auto;
    left: 0;
    width: 100%;
  }
}
@keyframes drawframeTop {
  0% {
    right: 0;
    left: auto;
    width: 100%;
  }
  12.5% {
    right: 0;
    left: auto;
    width: 0%;
  }
  50% {
    right: auto;
    left: 0;
    width: 0%;
  }
  62.5% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: auto;
    left: 0;
    width: 100%;
  }
}
@-webkit-keyframes drawframeBottom {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  12.5% {
    right: auto;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: auto;
    width: 0%;
  }
  62.5% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}
@keyframes drawframeBottom {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  12.5% {
    right: auto;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: auto;
    width: 0%;
  }
  62.5% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}
@-webkit-keyframes drawframeRight {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  12.5% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  50% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  62.5% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}
@keyframes drawframeRight {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  12.5% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  50% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  62.5% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}
@-webkit-keyframes drawframeLeft {
  0% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  12.5% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  50% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  62.5% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
}
@keyframes drawframeLeft {
  0% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  12.5% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  50% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  62.5% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
}
