.button {
  padding: 10px 25px;
  font: var(--font-std);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background: var(--item-hover);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  color: var(--block-color);
  background-color: var(--link-hover);
  box-shadow: 20px 11px 36px 0px rgba(211, 209, 216, 0.25);
}
