.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--block-color);
}

.input:focus {
  outline: 2px solid var(--accent-color);
}

.pass-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.strength {
  font-weight: 600;
}

.weak {
  color: red;
}

.medium {
  color: rgb(162, 162, 8);
}

.strong {
  color: green;
}
