.detail-wrapper {
  background: var(--background-filter);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.heading {
  text-align: center;
}

.link {
  color: var(--item-hover);
  font-weight: 600;
  transition: all 0.3s;
}

.link:hover {
  color: var(--link-hover);
}
