.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  width: 200px;
  background-color: var(--block-color);
  border-radius: 5px;
  border: none;
}

.item:hover {
  box-shadow: 12px 11px 36px 0px rgba(211, 209, 216, 0.25);
}

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon {
  max-width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.item:hover .icon {
  fill: var(--item-hover);
}

.heading {
  max-width: 150px;
  margin: 0;
  text-align: center;
  transition: all 0.3s;
}

.item:hover .heading {
  color: var(--item-hover);
}
