.wrapper {
  max-width: 1005px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
}

.list-item {
  list-style: none;
}
