:root {
  font-family: 'Space Grotesk', sans-serif;
  background-image: url('./bg.jpg');
  background-size: cover;
  --block-color: #fefefe;
  --accent-color: #3f51b5;
  --content-color: #04040495;
  --font-std: 400 16px 'Space Grotesk', sans-serif;
}

* {
  box-sizing: border-box;
}
