.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--content-color);
  color: var(--block-color);
  border-radius: 5px;
}

.not-found {
  text-align: center;
}
