:root {
  --block-color: #fefefe;
  --accent-color: #38454b;
  --accent-color-hover: #bcc2ef;
  --item-hover: #f7d68d;
  --link-hover: #da990e;
  --content-color: #04040495;
  --dark-color: #040404;
  --background-color: #171b1c;
  --background-filter: #ffffff81;
  --font-std: 400 12px 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
