.error-block {
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: var(--block-color);
}

.img {
  width: 200px;
}
